html {
  font-family: sans-serif;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 20px;
  margin: 0px;
}

p {
  font-size: 18px;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.contents {
  border: 1px solid #000;
  max-width: 400px;
}

.contents__title {
  margin: 20px 0px 10px 15px;
}

.section-wiki {
  margin: 20px 0px;
}

.quote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  padding: 20px 150px 0px 150px;
  width: 700px;
}

.back-to-the-top__button {
  color: #000;
  display: block;
  border: 1px solid #000;
  padding: 5px;
  margin: 10px 431px;
  max-width: 125px;
  text-align: center;
  transition: .7s;
}

.back-to-the-top__button:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #000;
  padding: 12px;
}
