*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  color: #000;
  background-color: #fff;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

button:hover {
  cursor: pointer;
}

ul a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  margin: 0px;
}

p {
  font-size: 18px;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

#top {
  text-align: center;
  border-bottom: 1px solid #a2a9b1;
  padding: 10px 0px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.contents-and-portrait {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contents {
  padding: 20px 10px 15px 30px;
  border: 1px solid #a2a9b1;
  border-radius: 10px;
  width: 400px;
}

.sublist {
  margin: 0px 0px 10px 15px;
}

.subsublist {
  margin-left: 15px;
}

.h2__title {
  margin-bottom: 15px;
}

.portrait {
  width: 400px;
  border: 1px solid #a2a9b1;
  border-radius: 10px;
  padding: 15px 25px;
  text-align: center;
}

.portrait__img {
  max-width: 350px;
  margin-bottom: 10px;
}

.section-title {
  font-weight: 400;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  margin: 20px 0px 5px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a2a9b1;
}

.section-wiki {
  margin: 20px 0px;
}

.quote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.back-to-the-top__btn {
  color: #000;
  border: 1px solid #a2a9b1;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
  max-width: 150px;
  display: block;
  text-align: center;
  transition: .7s;
}

.back-to-the-top__btn:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #a2a9b1;
  padding: 12px;
}
